html.remodal-is-locked {
  overflow: hidden;
}

.remodal,
[data-remodal-id] {
  display: none;
}


.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden;
}


.remodal {
  position: relative;
  outline: none;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  display: inline-block;
}
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening {
  animation: remodal-overlay-opening-keyframes 0.3s;
}
.remodal-overlay.remodal-is-closing {
  animation: remodal-overlay-closing-keyframes 0.3s;
}
.remodal-wrapper {
  padding: 40px 0;
}
.remodal {
  box-sizing: border-box;
  width: 100%;
  transform: translate3d(0, 0, 0);
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 0;
  background: #fff;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-fill-mode: forwards;
}
.remodal.remodal-is-opening {
  animation: remodal-opening-keyframes 0.3s;
}
.remodal.remodal-is-closing {
  animation: remodal-closing-keyframes 0.3s;
}

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}
.remodal-close {
  transition: color 0.2s;
  position: absolute;
  right: 30px;
  top: 30px;
  background: url(../images/menu-close.png) no-repeat;
  width: 44px;
  height: 44px;
  border: 0;
  cursor: pointer;
  opacity: 0.4;
  z-index: 999999;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.remodal-close:hover{
	opacity:1;
}
.remodal-close:focus{
	outline:none;}
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}
.remodal-confirm {
  color: #fff;
  background: #81c784;
}
.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}
.remodal-cancel {
  color: #fff;
  background: #e57373;
}
.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 800px;
  }
}

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}


/*=============FORM================*/
.modal-dialog p{
}

.modal-dialog .form input{
	margin-bottom: 0;
	width: 265px;
	display: block;
}
.modal-dialog .form textarea{
	margin-top:24px;
	width: 100%;
	max-width: 100%;
	padding: 10px;
	max-height: 90px;
}
.modal-dialog h3{
	font-size: 32px;
	line-height: 40px;
	font-family: 'open_sansbold';
	color: #222222;
	margin-bottom: 30px;
}
.modal-dialog p{
	text-align:center;
	font-size: 16px;
}

.modal-dialog .form button{
	width: 265px;
	margin-top: 30px;
	height: 60px;
	font-size: 32px;
	color: #000;
	font-weight: 600;
	font-family: 'gost-regular', Arial;
}
.modal-dialog .top{
	border-bottom:1px solid #e4e4e5;
	padding: 30px 0;
	text-align: left;
	margin: 0 30px;
	margin-bottom: 20px;
}
.modal-dialog form{
	margin-top: 35px;
}









